@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

body{
    overflow-x: hidden;
    background-color: #fff;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
}

.btn-add {
  color: #004077 !Important;
  background-color: transparent !Important;
  border-color: #004077 !important;
}

.btn-add:hover {
  color: #fff !Important;
  background-color: #004077 !Important;
  border-color: transparent !important;
}

.btn-info:hover {
  color: #fff !Important;
  border: none !Important;
  background-color: #004077 !Important;
  border-color: transparent !important;
}

.btn-check:active+.btn-info, .btn-check:checked+.btn-info, .btn-info.active, .btn-info:active, .show>.btn-info.dropdown-toggle {
  color: #fff !Important;
  background-color: #004077 !Important;
  border: none;
  border-color: transparent !important;
}

a:hover,a:focus {
text-decoration:none;
}

/* PERFIL GENERAL*/

.titulo-Perfil{
  text-align:left !Important;
  color: #004077 !Important;
  margin-top:2em !Important;
  margin-bottom: 2em !Important;
  border-bottom: 1px solid black !Important;
  border-color: #BECECF !Important;
}

.subtitulo-Perfil{
  text-align:left !Important;
  color: #596064 !Important;
  margin-top:1em !Important;
}

.subtitulo-Perfil i{
  font-size: 20px !Important;
  color: #004077 !Important;
}

.content-wrapper{
    background-color: #fff;
}

.pushmenu{
    font-size:1.25rem;
}

td .btn{
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button:disabled,
input[type="number"]::-webkit-outer-spin-button:disabled {
  opacity: 1;
  pointer-events: auto;
}

.img-circle {
    border-radius: 50%;
}

.img-circle-perfil {
    border-radius: 10%;
}

pre{
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}