@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

body{
    overflow-x: hidden;
    background-color: #fff;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
}

.btn-add {
  color: #004077 !Important;
  background-color: transparent !Important;
  border-color: #004077 !important;
}

.btn-add:hover {
  color: #fff !Important;
  background-color: #004077 !Important;
  border-color: transparent !important;
}

.btn-info:hover {
  color: #fff !Important;
  border: none !Important;
  background-color: #004077 !Important;
  border-color: transparent !important;
}

.btn-check:active+.btn-info, .btn-check:checked+.btn-info, .btn-info.active, .btn-info:active, .show>.btn-info.dropdown-toggle {
  color: #fff !Important;
  background-color: #004077 !Important;
  border: none;
  border-color: transparent !important;
}

a:hover,a:focus {
text-decoration:none;
}

/* PERFIL GENERAL*/

.titulo-Perfil{
  text-align:left !Important;
  color: #004077 !Important;
  margin-top:2em !Important;
  margin-bottom: 2em !Important;
  border-bottom: 1px solid black !Important;
  border-color: #BECECF !Important;
}

.subtitulo-Perfil{
  text-align:left !Important;
  color: #596064 !Important;
  margin-top:1em !Important;
}

.subtitulo-Perfil i{
  font-size: 20px !Important;
  color: #004077 !Important;
}

.content-wrapper{
    background-color: #fff;
}

.pushmenu{
    font-size:1.25rem;
}

td .btn{
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button:disabled,
input[type="number"]::-webkit-outer-spin-button:disabled {
  opacity: 1;
  pointer-events: auto;
}

.img-circle {
    border-radius: 50%;
}

.img-circle-perfil {
    border-radius: 10%;
}

pre{
  font-family: "Poppins", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: normal;
  white-space: pre-wrap; 
  word-wrap: break-word;
  text-align: justify;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
}

.links-cohorte{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    transition: all 0.3s;
}

.links-cohorte:hover{
    color: #000;
    border-color: #293462;
}

.p-menu-perfil{
    padding: 0.25rem;
}

.maestrias-grid {
        display: grid;
        gap: 20px;
    }

.card-index {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.maestria-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


 /* Estilos para pantallas más grandes */
@media (min-width: 768px) {
    .maestrias-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Estilos para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 767px) {
    .maestrias-grid {
        grid-template-columns: 1fr;
    }
}

.button-container {
    margin-top: 10px;
}

.button-container a {
    display: block;
    margin-bottom: 5px;
}

.button-container a {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button-container a:hover {
  background-color: #3498db;
  color: #fff;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}